<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ameron32.apps.tapnotes.v2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name=".permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name=".permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".TAPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MNIActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.ameron32.trials.tapnotesreboot" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".parse.ui.MyDispatchMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".parse.ui.MyLoginParseActivity"
            android:label="@string/title_activity_my_login"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name=".parse.ui.MyLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="451a4e784d66f9e46edd52c2e4fe58e0ba5f1f4c" />

        <!-- MICAH testing activity -->
        <activity
            android:name=".scripture.ScriptureTestingActivity"
            android:label="@string/title_activity_scripture_testing"
            android:parentActivityName=".ui.MNIActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MNIActivity" />
        </activity>
        <!-- /MICAH -->
        <activity
            android:name=".ui.ProgramSelectionActivity"
            android:label="@string/title_activity_program_selection" >
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MNIActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ameron32.apps.tapnotes.v2.ui.MNIActivity" />
        </activity>
    </application>

</manifest>
